body {
  font-size: 16px;
  color: #fff;
  background-color: #ff9292;
  font-family: 'Comic Sans MS', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #fff;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Name */
  font-family: 'Lato', sans-serif;
  color: #0f1123;
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 15px;
}
#nav-list a {
  color: #0f1123;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.5em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.container h2{ 
	color: #FFFFFF;
	text-shadow: 4px 3px 0px #7A7A7A;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.9em;
    text-transform: uppercase;
}

.container section {
  border: 1px solid black;
  width: 100%;
  margin: 2.5%;
  padding: 2%;
  padding-top: 10px;
  background-color: #eeeeee;
  color: #000;

}
 .data div{
 	font-family: Georgia, serif;
	text-align: center;
	font-size:1.4em;
	color: #000000;
	text-decoration: none;
	font-style: italic;
	font-variant: normal;
	text-transform: capitalize;
} 

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
.col-md-12 {
    width: 100%;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  
}

